{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/auth.css' %}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="POST" action="{% url 'register' %}">
            <!-- <div class="">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>

            <div class="">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>

            <div class="">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div> -->
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        
    </div>
</body>
</html>